.font-header\/semibold {
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
}

.font-title\/medium {
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
}
.font-title\/semibold {
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
}

.font-body\/medium {
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
}
.font-body\/regular {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
}

.font-label\/semibold {
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
}