@import url('_typography.scss');
@import url('_classes.scss');

:root {
	--bs-body-bg: #F3F4F9;
	--bs-body-font-family: 'Inter';
	--bs-body-font-size: 14px;
	--bs-link-color: black;
	--bs-link-hover-color: black;
	--bs-primary-rgb: 25, 82, 225;
	--bs-secondary-rgb: 99, 102, 110;
}

html, body, #app {
	height: 100%;
}

.list-group {
	--bs-list-group-border-color: #F3F4F9;
}

.btn-primary {
	--bs-btn-bg: #1952E1;
	--bs-btn-border-color: #1952E1;
	--bs-btn-hover-bg: #2E3E6E;
	--bs-btn-hover-border-color: #2E3E6E;
	--bs-btn-active-bg: #2E3E6E;
	--bs-btn-active-border-color: #2E3E6E;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.list-group-item.list-group-item-action {
	padding: 20px 24px;
}
