@import url('_typography.scss');
@import url('_classes.scss');

:root {
	--bs-body-bg: #F3F4F9;
	--bs-body-font-family: 'Inter';
	--bs-body-font-size: 14px;
	--bs-link-color: black;
	--bs-link-hover-color: black;
	--bs-primary-rgb: 25, 82, 225;
}

html, body, #app {
	height: 100%;
}

::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar for horizontal scrolling */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4); /* Dark semi-transparent thumb */
  border-radius: 10px; /* Rounded ends for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6); /* Slightly darker when hovered */
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Light background for the scrollbar track */
  border-radius: 10px; /* Rounded edges */
}